.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.icon-label,
.percent {
    -fx-font-size: 15px;
}

.percent {
    -fx-padding: 0 10 0 10;
}

.percent:hover {
    -fx-background-color: #0096C9ff;
    -fx-cursor: hand;
}

.percent-input {
    -fx-padding: 0 3 0 3;
    -fx-font-size: 15px;
}

.slider {
    -fx-padding: 0 3 0 3;
}

.icon-button:hover {
    -fx-background-color: #0096C9ff;
}

.footer-icon-label {
    -fx-padding: 0 50 0 0;
}